[submodule "libs/ViruaPPU"]
	path = libs/ViruaPPU
	url = https://github.com/awe444/VirtuaPPU.git
[submodule "libs/VirtuaAPU"]
	path = libs/VirtuaAPU
	url = https://github.com/MatheoVignaud/VirtuaAPU.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.4.4
